
@{
    Layout = "~/Views/Shared/_LayoutAlumno.cshtml";
    ViewBag.Title = "Alumno";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
