@model Utalca.ControlAsistencia.Curso
<-->DateTime.ToString("yyyyMMddHHmm") para pasar a long</-->

<div>
    <h1>Horario</h1>
    <table class="table">
        <tr>
            <th>Clase</th>
            <th>Fecha</th>
            <th>Sala</th>
            <th>Registro Asistencia</th>
        </tr>
        @foreach (var clase in Model.Horario)
        {
            <tr>
                <td>@clase.Titulo</td>
                <td>@clase.Fecha.ToString("ddMMyyyyHHmm")</td>
                <td>@clase.Sala</td>
                <td><a href="@Url.Action("RegistroAsistencia", "Curso", new { id = Model.ID, fecha = clase.Fecha.ToString("ddMMyyyyHHmm") })">Registrar Asistencia </a></td>
             </tr>
        }

    </table>
</div>




