@model Utalca.ControlAsistencia.Curso

<div>
    <h1>Horario</h1>
    <table class="table">
        <tr>
            <th>Clase</th>
            <th>Fecha</th>
            <th>Sala</th>
            <th>Registro Asistencia</th>
        </tr>
        @foreach (var clase in Model.Horario)
        {
            <tr>
                <td>@clase.Titulo</td>
                <td>@clase.Fecha.ToString("dd-MM-yyyy HH:mm")</td>
                <td>@clase.Sala</td>
                <td><a href="@Url.Action("RegistroAsistencia", "Curso", new { id = clase.Fecha })">Registrar Asistencia </a></td>
            </tr>
        }

    </table>
</div>




