<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme/css/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>


    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/carousel.js"></script>


</head>
<body style="overflow: visible;" class="wide">
    <header id="header">
        <!-- top-header -->
        <div class="top-header hidden-xs ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        &nbsp;
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-inline pull-right">
                            <li><a target="_blank" href="https://es-es.facebook.com/ingenieriaUtalca" class="icon-holder small rounded"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" href="https://twitter.com/ingUtalca" class="icon-holder small rounded"><i class="fa fa-twitter"></i></a></li>
                            <li><a target="_blank" href="https://cl.linkedin.com/in/utalca" class="icon-holder small rounded"><i class="fa fa-linkedin"></i></a></li>
                            <li><a target="_blank" href="https://www.youtube.com/user/canalUtalca" class="icon-holder small rounded"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- //top-header -->
        <div class="bg-white padd-tb-30">
            <div class="container">
                <div class="col-xs-6">
                    <a href="/"><img alt="logo" style="width: 100%; max-width: 300px; min-width: 200px" src="/Content/theme/img/logo.jpg"></a>
                </div>
                <div class="col-xs-6">
                    <div style="text-align:right; padding-top: 7px" class="pull-right hidden-md hidden-sm hidden-xs">
                        <a target="_blank" href="http://www.utalca.cl"><img alt="logo" style="height: 25px" src="/Content/theme/img/logoUtalcaNegro.png"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- //navbar -->
        @Html.Partial("_MenuProfesor")
    </header>
  

    <div class="container body-content">
        @RenderBody()
        
        
    </div>
    <footer class="footer footer-sub bg-light-blue ">
        <div class="container">
            <h5>Facultad de ingenieria - realizado por Catalina Carvajal - Karina Vergara</h5>
        </div>
    </footer>
    @Html.Partial("_Errores")
    <script>
        $(document).ready(function () {
            if ($('#ErroresModal').length > 0)
            {
                $("#ErroresModal").modal('show')
            }

        });
    </script>
</body>
</html>