
<div class="fixed-top bg-white hidden-xs panel">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &nbsp;
            </div>
            <div class="col-sm-6">
                <ul class="list-inline pull-right">
                    <li><a href="https://es-es.facebook.com/ingenieriaUtalca" class="icon-holder small rounded"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/ingUtalca" class="icon-holder small rounded"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://cl.linkedin.com/in/utalca" class="icon-holder small rounded"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.youtube.com/user/canalUtalca" class="icon-holder small rounded"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-static-top panel ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar">&#9776;</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Registro de Asistencia", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-text navbar-right">
                <li><a href="@Url.Action("Index", "Home")"> Inicio </a></li>
                <li><a href="@Url.Action("Index", "Curso")">Cursos</a></li>
                
            </ul>
        </div>
    </div>
</div>


