
<div class="navbar navbar-v1 padd-tb-30 yamm stay-top nav" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("Index", "Home")"> Inicio </a></li>
                <li><a href="@Url.Action("Index", "Curso")">Cursos</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!-- ./container -->
</div>











