<div class="navbar " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar">&#9776;</span>
            </button>
            <!--<a class="navbar-brand" href="#"><span>c</span>larity</a>-->
        </div>
        <div class="navbar-collapse collapse">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav navbar-nav navbar-text navbar-right ">
                        <li><a href="@Url.Action("Index", "Curso")">Cursos 2016</a></li>
                    </ul>
                </div>
            </div>
        </div><!--/.nav-collapse -->
    </div><!-- ./container -->
</div>





